*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #fcfcfc;
}
#nav-main {
     display: flex;
     justify-content: space-between;
     width: 70%;
     margin: auto;
     align-items: center;
}
#nav-2 {
    background-color: #2bb673;
}
#nav-main>img{
    height: 80px;
}
#nav-2>div {
     display: flex;
     background-color: #2bb673;
     color: white;
     width: 70%;
     margin: auto;
     justify-content: space-between;
}
#nav-2 button{
    border: none;
    background-color: #2bb673;
    font-size: 18px;
    color: white;
    height: 40px;
}
#signin-section {
    display: flex;
    width : 25%;
    justify-content: space-between;
    align-items: center;
}
#signin-section>button {
   height: 25px;
   display: block;
   border: none;
   border-radius: 5px;
   color: white;
   font-weight: bold;
}
#signin-section>button:nth-child(2) {
    background-color: #35619f;
}
#signin-section>button:nth-child(3) {
    background-color: #666666;
}

/* cards section style */

#icons-section>img {
    width: 40px;
    height: 40px;
    
}
#icons-section {
    display: flex;
    width: 15%;
    justify-content: space-between;
    margin: auto;
}
#slide-show{
    display: flex;
    margin: auto;
    width: 70%;
    height: 340px;
    margin-top: 20px;
}
#slide-show>img:nth-child(1){
    width: 70%;
}
#slide-show>img:nth-child(2){
    width: 30%;
}

#slide-show+div{
    display: flex;
    width: 70%;
    margin: auto;
    height: 150px;
    justify-content: space-evenly;
    align-items: center;
}
#slide-show+div>img{
    width: 13%;
    height: 65%;
}
.mid-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}
.mid-cards>div{
    display: flex;
}
#news-cards,
#restaurants-cards,
#superheroes-cards
{
    display: flex;
}
#moments-cards{
    display: flex;
}
.cards img{
    width: 100%;
    height: 180px;
}
.cards-section{
    width: 70%;
    margin: auto;
    margin-top: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.cards>div{
    width:17%;
    margin: auto;
    height: 250px;
}
.grey{
    color: #6d6d6d;
    font-size: 24px;
}
.blue{
    color: #2185ff;
    font-size: 20px;
}
.desc{
    font-size: 12px;
}
/* bottom-mid section */

#bottom-mid{
    width: 70%;
    margin: auto;
}
#icons{
    display: flex;
    margin: auto;
    margin-top: 80px;
    justify-content: space-evenly;
}
#bottom-mid>h1,
#bottom-mid>h1+div>h3,
#bottom-mid>h1+div+h2{
    text-align: center;
}
#bottom-mid>h1{
    margin-top: 100px;
}

#icons>div{
    width: 22.5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-top: 15px;
}
#icons+p,
#icons+p+p{
    text-align: center;

}
#icons+p{
    margin-top: 60px;
    margin-bottom: 0px;
}
#icons+p+p{
    margin-top: 0px;
    margin-bottom: 50px;
}
#icons img{
    display: block;
    margin: auto;
}
#icons>div>h2,
#icons>div>p{
    text-align: center;
}
#bottom-mid button{
    margin-top: 60px;
  display: block;
  margin: auto;
  background-color: #f53838;
  border: none;
  color: white;
  border-radius: 10px;
  width: 500px;
  height: 106px;
}

#bottom-mid+p+div,
#bottom-mid+p+div+div{
  width: 70%;
  margin: auto;
}
#bottom-mid+p{
    text-align: center;
    margin-top: 50px;
    font-size: 26px;
    color: #8a8a8a;
}
.titles-icon{
    font-size: 20px;
    color: #666669;
}
.desc-icon{
    font-size: 14px;
    color : #9e9a99;
}
#petfinder{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: auto;
}
#petfinder img{
    height: 50px;
}
#petfinder p{
    font-size: 20px;
    color: #9e9a99;
}
#bottom-mid>p:nth-child(1){
    font-size: 32px;
    color: #666666;
    text-align: center;
    margin-top: 100px;
}
#bottom-mid>p:nth-child(3){
    font-size: 26px;
    color: #888888;
    text-align: center;
    margin-top: 50px;
}
.below-icon{
    color: #8e8b89;
    font-size: 20px;
}
.below-icon+button>p:nth-child(1){
    font-size: 40px;
    margin: 0;
    padding: 0;
    margin-top: 3px;
    font-weight: bolder;
}
.below-icon+button>p:nth-child(2){
    font-size: 16px;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    font-weight: bolder;
}


 /* footer-section */

 #footer{
    display: flex;
    width: 70%;
    margin: auto;
    font-size: 12px;
 }
 #footer ul {
    list-style-type: none;
 }
 #footer-section{
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #2bb673;
    color: white;
 }
 #footer-section p{
   margin: 0px;
   text-align: center;
   font-size: 12px;
 }
 #footer .bold-heading{
    font-size: 14px;
    font-weight: bolder;
}
#footer li{
    padding: 3px;
}
 